*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

/* start nav */
nav{
    display: flex;
    position: fixed;

    top: 0px;
    left: 0%;
    right: 0%;

    z-index: 10;

    padding-top: 15px;
    padding-bottom: 15px;

    background-color: #ff6900;
    box-shadow: 0px 2px 1px #bbb8b8;
}

nav div .nav-links{
    display: flex;

    min-width: 300px;

    text-align: start;
    list-style: none;
}

nav div ul a{
    font-size: .8em;

    margin-right: 10px;
    color: white;
    text-decoration: none;
}

.logo-section{
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.logo{
    width: 140px;
}

nav div .user-icons{
    min-width: 300px;

    text-align: end;

    color: white;
}

nav div ul a:hover{
    color: black;
}


.user-icons .fa{
    margin-right: 10px;
}
/* end nav */

/* start main */
main{
    margin-top: 130px;
}

.row-container{
    display: flex;
    justify-content: center;
    gap: 30px;

    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

div.product-box{
    width: calc(100% / 3);
    margin-bottom: 60px;
}

.product-box:hover .overlay{
    visibility: visible;

    opacity: 1;
}

.product-photo{
    position: relative;
    width: 100%;
}

.product-photo:hover{
    color: red;
}

img.photo{
    width: 100%;
}

.photo.underlay{
    position: relative;

    top: 0px;
    left: 0px;

    z-index: 1;
}


.photo.overlay{
    visibility: hidden;

    opacity: 0;
    transition: visibility 0s, opacity 0.4s linear;

    position: absolute;

    top: 0px;
    left: 0px;

    z-index: 3;
}


.product-image{
    display: flex;
}

.overlay-info{
    display: flex;
    position: absolute;

    bottom: 35px;
    left: 0px;

    z-index: 5;
}

.sale{
    padding: 5px 7px;
    margin-right: 4px;

    color: white;
    background-color: red;
}

.eco{
    padding: 5px 7px;

    color: white;
    background-color: #008000;
}

.favourites{
    padding: 10px;
    position: absolute;

    top: 10px;
    right: 0px;

    z-index: 5;

    background-color: white;
}

ul.product-info{
    list-style: none;
}

span.price{
    margin-right: 8px;

    color: red;
}

span.price-no-sale{
    text-decoration: line-through;
}
/* end main */

/* footer */
footer{
    padding: 30px 0px;

    background-color: #1a1a1a;
}

div.policy{
    flex-grow: 1;
    color: white;
    text-align: start;
}

div.footer-text{
    margin-bottom: 5px;
}

div.policy-link a{
    margin-right: 8px;

    color: white;

    font-size: .7em;
    text-decoration: none;
}

div.policy-link a:hover{
    text-decoration: underline;
}

div.social{
    width: 200px;

    color: white;

    text-align: end;
}
/* end footer */